{% extends 'ApUno/PlantillaPrcts.html' %}
{% load static %}

{% block titulo %}
<title>Cama antiestrès</title>
{% endblock titulo %}

{% block cuerpo_producto %}
<div class="container">
    <div class="row" style="text-align: center;">
        <div class="col-md-6 col-sm-12">
            <a href="#" target="_self"><br><br><img
                src="{% static 'ApUno/img/camaPerro.png' %}" alt="No disponible"> </a>
        </div>
        <div class="col-md-6 col-sm-12">
            <br><h2 >{{ nombre }}</h2>
            <h4>{{ precio }}</h4> 
            <br><br><br><input class="cant" type="number" min="1" max="200">
            <button class="button">Añadir al carrito</button>
        </div>
    </div> 
    <div class="row" style="text-align: center;">
        <div class="col-md-12 col-sm-12">
            <hr class="solid">
            <h2>Descripción</h2>
            <h5>{{ descripcion }}</h5>
        </div>
    </div>
</div> 
{% endblock cuerpo_producto %}