{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar producto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .mySlides {
            display: none
        }
    </style>
    <link rel="website icon" type="png" href="{% static 'ApUno/img/logo_happy.png' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'ApUno/css/estilos.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #50bb67;">
        <div class="container-fluid">
            <a class="navbar-brand"><img src="{% static 'ApUno/img/logo_happy.png' %}" alt="Logo" style="width:40px;"
                    class="rounded-pill"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cerrar sesión</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button"
                            data-bs-toggle="dropdown">Categorías</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'Perros' %}">Perros</a></li>
                            <li><a class="dropdown-item" href="{% url 'Gatos' %}">Gatos</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <form action="{% url 'ModiProd' %}" method="POST" enctype="multipart/form-data" class="fondoform" name="formulario">

        {% csrf_token %}

        <h1 class="centrar letraLo">Modificar Producto </h1>

        <div class="grupo">
            <label for="" ><h5 style="color: #2196f3;">Foto actual</h5></label><br>
            <img src="{{ prod.foto.url }}"  alt="Avatar" style="width:150px;height:150px;">
            </div>

          <div class="grupo">
           <input accept="image/png,image/jpeg" type="file" class="form-control-file , letraLo , cu1" name="fotoProd" id="fotoProd" style="color: #2196f3"><span class="barra" ></span>
            <label for=""><h5>Cambiar foto de perfil</h5></label>
        </div>

        <div class="grupo">
            <label>ID Producto</label>
            <input readonly value="{{ prod.id_producto }}" type="number" class="form-control" id="idProd" name="idProd">
        </div>


        <div class="grupo">
            <label>Nombre</label>
            <input type="text" class="form-control"  required value="{{ prod.nombre }}" id="nombreProd" name="nombreProd"><span class="barra" ></span>
        </div>

        <div class="grupo">
            <label>Descripción</label>
            <input type="text" class="form-control" required value="{{ prod.descripcion }}" id="descripcionProd" name="descripcionProd">
        </div>

        <div class="grupo">
            <label>Precio</label>
            <input type="text" class="form-control" required value="{{ prod.precio }}" id="PrecioProd" name="PrecioProd">
        </div>

        <div class="grupo">
            <label>Stock</label>
            <input type="text" class="form-control" required value="{{ prod.stock }}" id="StockProd" name="StockProd">
        </div>

        <div class="grupo">
            <label>Tipo mascota</label>
           <select class="form-control" name="categoriaProd" required id="categoriaProd">
                {% for r in tipo_mascota %}
                    {% if r.id_categoria == prod.Categoria.id_categoria %}
                        <option value="{{ r.id_categoria }}" selected>{{ r.nombre }}</option>
                    {% else %}
                        <option value="{{ r.id_categoria }}">{{ r.nombre }}</option>
                    {% endif %}
                {% endfor %}
           </select>
        </div>
        <input type="submit" value="Enviar" class="btn btn letraLo" style="text-align: center; color: rgb(255, 255, 255); background-color: rgb(97, 97, 97); margin-left: auto;">

    </form><br><br>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
</body>

</html>